<div class="w-screen h-screen flex items-center justify-center authentication__container">
  <div class="flex flex-col gap-4 items-center justify-center bg-white p-8 rounded-3xl">
    <h2 class="font-bold text-lg">Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {'data-turbo' => "false", method: :post, class: "flex flex-col gap-4 items-center" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"py-3 border border-gray-400 rounded-lg" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: "w-full rounded-md border border-transparent bg-pinkRed px-4 py-2 text-base font-bold text-white shadow-sm" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
