<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font" %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= favicon_link_tag asset_path("airbnb-icon.png") %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
