<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path("airbnb-icon.png") %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <% if type == "alert" %>
        <p class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded text-center">
          <%= alert %>
        </p>
      <% else %>
        <p class="bg-teal-100 border border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md text-center">
          <%= notice %>
        </p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
